<h1>About Sir Terry Pratchett</h1>

<main>
    <p>
        <strong>Sir Terry Pratchett</strong>, born 1962 as <em>Terence David John Pratchett</em>, was an English author and humorist, 
        best known for his comedic fantasy series "Discworld". Pratchetts writing was characterized by its humor, satire and 
        social commentary. In 2009, Pratchett was knighted by the Queen of the United Kingdom for services to literature.
    </p>

    <p>
        In 2007, Sir Terry was diagnosed with a rare form of early-onset Alzheimer's disease. He made his diagnosis public in December 2007, trying
        to raise awareness for the disease. After the disease kept progressing, the started a campaign to reform the law of assisted dying,
        as he wished to die before his disease progressed to a critical point, saying "it should be possible for someone stricken with a serious
        and ultimately fatal illness to choose to die peacefully with medical help, rather than suffer". In 2010, Sir Terry gave the 2010 
        BBC Richard Dimbleby Lecture. Pratchett introduced his lecture "Shaking Hands with Death" on the topic of assisted death, but the 
        actual lecture was read by his friend, actor Tony Robinson, because Sir Terry's condition made it difficult for him to read:
    </p>

    <div class="youtube-container">
        <iframe width="800" height="600" src="https://www.youtube.com/embed/LqjfwrRQvQA"></iframe> 
    </div>
     

</main>
