<h1>Gallery</h1>

<section>
    <h2>Sir Terry Pratchett</h2>
    <div class="gallery-container">
        <figure>
            <img src="/images/sirterry.webp" alt="Sir Terry">
            <figcaption>Sir Terry</figcaption>
        </figure>

        <figure>
            <img src="/images/knighting.jpg" alt="Sir Terry being knighted">
            <figcaption>Sir Terry being knighted</figcaption>
        </figure>

        <figure>
            <img src="/images/sword.jpg" alt="Sir Terry with his sword">
            <figcaption>Following his knighting, Sir Terry forged his own sword</figcaption>
        </figure>

        <figure>
            <img src="/images/sirterry_and_neilgaiman.webp" alt="Sir Terry with Neil Gaiman">
            <figcaption>Sir Terry with Neil Gaiman</figcaption>
        </figure>

        <figure>
            <img src="/images/sirterry-1.jpg" alt="Sir Terry with two birds on his hat">
            <figcaption>Sir Terry and friends</figcaption>
        </figure>

        <figure>
            <img src="/images/at_last.jpg" alt="Sir Terry with Death">
            <figcaption>AT LAST, SIR TERRY, WE MUST WALK TOGETHER</figcaption>
        </figure>
    </div>
</section>

<section>
    <h2>Discworld Cover Art by <a href="https://www.joshkirbyart.com/">Josh Kirby</a></h2>
    <div class="gallery-container">
        <figure>
            <img src="/images/discworld.jpg" alt="The Discworld PC game cover art">
            <figcaption>The Discworld PC Game</figcaption>
        </figure>

        <figure>
            <img src="/images/discworld2.jpg" alt="The Discworld">
            <figcaption>The Discworld (unclear for what this was made, possibly also PC game)</figcaption>
        </figure>

        <figure>
            <img src="/images/light_fantastic.jpg" alt="The Light Fantastic cover art">
            <figcaption>The Light Fantastic</figcaption>
        </figure>

        <figure>
            <img src="/images/mort.jpg" alt="Mort Cover Art">
            <figcaption>Mort</figcaption>
        </figure>

        <figure>
            <img src="/images/reaper_man.jpg" alt="Reaper Man Cover Art">
            <figcaption>Reaper Man</figcaption>
        </figure>

        <figure>
            <img src="/images/soul_music.jpg" alt="Soul Music Cover Art">
            <figcaption>Soul Music</figcaption>
        </figure>

        <figure>
            <img src="/images/the_truth.jpg" alt="The Truth Cover Art">
            <figcaption>The Truth</figcaption>
        </figure>

        <figure>
            <img src="/images/wyrd_sisters.jpg" alt="Wyrd Sisters Cover Art">
            <figcaption>Wyrd Sisters</figcaption>
        </figure>

    </div>
</section>

