<h1>Home</h1>

<main>
    <p>
        Welcome! This page was created for the <a href="https://github.com/ironhack-labs/lab-express-basic-site" target="_blank">"Express Basic Website" Lab</a> of the Ironhack Web Development bootcamp.
    </p>
    
    <a>
        As the lab asked us to build a website about a person we admire, I decided to make a site about Sir Terry Pratchett. 
        You can find information about his life and death<a href="/about">here</a>, a quick overview covering his major works <a href="/works">here</a>, and a a photo gallery showing some photos of Sir Terry as well as cover pictures for some of my favorite books of his <a href="/gallery">here</a>.
    </p>

</main>