<h1>Bibliography (incomplete)</h1>

<section>
    <h2>Discworld</h2>
    <p>
        A series of more then 40 comedic fantasy novels. Set on the Discworld, a flat planet balanced on the backs 
        of four elephants standing on the back of a giant turtle, the series is not only a humorous take on the fantasy
        genre, but also a satirical commentary on real-life issues and society.
    </p>


    <h3>Reading Order</h3>
    <p>The series does not need to be read in the chronological order of publishing, as the books are generally stand-alone stories. 
    However, the series can be divided into several "sub-series" about the same character or group of characters, and as the characters
    grow and develop from story to story, it is recommended to read these sub-series in order. See also the chart below:</p>
    <img src="/images/Discworld_reading_order_guide.jpg" alt="Discworld Reading Order Guide">
</section>

<section>
    <h2>The Long Earth</h2>
    <p>A series of five science fiction books, written as a collaboration by Terry Pratchett and Stephen Baxter.</p>
</section>

<section>
    <h2>Good Omens</h2>
    <p>A comedy about the end of the world and the coming of the antichrist. Written as a collaboration between Terry Pratchett and Neil Gaiman.</p>
</section>