@import url('reset.css');

#navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

#navbar img {
    margin: 1rem;
    height: 3rem;
}

#navbar ul {
    display: flex;
    list-style: none;
}

#navbar li {
    margin: 1rem;
}

#navbar li a{
    text-decoration: none;
    color: black;
}

#navbar li a:hover{
    color: rgb(141, 46, 46);
}

h1 {
    text-align: center;
}

main, section {
    margin: 3rem;
}

.youtube-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

body {
    background-color: #DCDCDC;
}

.quote-container {
    text-align: center;
}

aside {
    display: flex;
    justify-content: center;
    
}

#footnote {
    padding: 2rem;
    font-size: 0.8rem;
    width: 50%;
    text-align:justify;
}

a[href="#footnote"] {
    color: black;
    text-decoration: none;
    text-decoration: italics;
}

a[href="#footnote"]:hover {
    text-decoration: underline;
}
q {
    font-style: italic;
}